@import "scss/colors";

.counter-container {
    width: 7rem;
    height: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-style: solid;
    border-width: thick;
    border-radius: 50%;
    border-color: $-primary;

    .title {
        font-size: 0.7rem;
        opacity: 80%;
    }

    .count {
        font-weight: bold;
        font-size: 1.5rem;
    }
}
